{% block sw_product_settings_form_content %}
    {% parent %}

    <sw-container v-if="product.childCount > 0" columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
        <sw-entity-single-select
                :entity="getProductVariantEntity()"
                :criteria="getProductVariantCriteria()"
                :context="getProductVariantContext()"
                :label="'Main-Variant'"
                :labelProperty="'productNumber'"

                v-model="product.mainVariantId"
        />
    </sw-container>
{% endblock %}